//COMPONENTE md-table
.md-table {
    background: #0e1726;
    border-radius: 10px;

    &-head-container,
    &-head-label {
      text-align: center;
    }

    &-row {
      cursor: pointer;
    }

    &-cell {
      &__thumb {
        max-height: 60px;
      }
    }
  }

  tbody {
    .md-table {
      &-row {
        &:hover {
          background: lighten(#111d31, .1%);
        }

        td {
          border-top-color: #060818;
        }
      }
    }
  }
